<div class="max-w-[1000px] mx-auto text-sm">  
    <div class="flex mb-4" > 
        @if(activeSearchInputGlobal){ 
            <div class="flex w-4/12 me-3 "> 
                <input  
                    type="text" 
                    class="border 
                    border-l 
                    border-gray-400 
                    focus:outline-gray-500 
                    focus:outline-[0.2px] 
                    rounded-md 
                    inputCustome 
                    bg-slate-200 
                    p-2 w-full"> 
                <button class=" bg-blue-400 p-2 rounded-md ms-3" >Buscar</button>
            </div> 
        } 

        <div class="w-8/12 flex gap-3" > 
            @for (filter of Filters; track $index) { 
                <select 
                    [attr.data-id]="$index + 1" 
                    (change)="handleSelectedFilter($event,filter[3]? filter[3]: filter[1])"
                    class="border 
                    border-l 
                    border-gray-400 
                    rounded-md 
                    inputCustome 
                    bg-slate-200 
                    p-2 w-full">   

                            <option value="" selected>Selecciona</option> 
                        @for (dataFilter of filter[2]; track $index) {  
                            <option [value]="dataFilter[filter[1]]"> 
                                {{dataFilter[filter[0]]}}
                            </option>
                        }
                </select> 
            } 
        </div>  
        <!-- filter[0]valor de la informacion que renderizara las options -->
        <!-- filter[1]valor que se agregara en el value  --> 
        <!-- filter[2]la informacion que recorreran los filtros --> 
        <!-- filter[3] este valor es opcional, se usa en caso de que la propiedad del filtro que estemos buscando no se encuentre en el array de informacion de la tabla, por lo cual usamos la tercera posicion para añadir el nombre que queramos consumir -->

    </div> 
    <table class="tabla" > 
        <thead> 
            <tr> 
                @for (column of ColumnAndRowData; track $index) { 
                    <th>{{ column[0] }}  
                        @if (activeSearchInputColumn) { 
                            <input 
                                type="text" 
                                class="border border-l 
                                border-gray-400 
                                focus:outline-gray-500 
                                focus:outline-[0.2px] 
                                rounded-md w-full"   
                                (keyup)="searchDataOrColumn(column[1], $event)"
                                > 
                        }
                    </th>
                }; 
            </tr>
        </thead> 
        <tbody> 
            @for (data of RenderDataTable; track $index) { 
                <tr>  
                    @for (column of ColumnAndRowData; track $index) { 
                        <td>{{  data[column[1]] }}</td> 
                     }
                </tr>
             }
        </tbody>
    </table>
</div>
