<div class="max-w-[1000px] mx-auto text-sm">  
    <div class="flex mb-4" > 
        @if(activeSearchInputGlobal){ 
            <div class="flex w-4/12 me-3 "> 
                <input  
                    type="text" 
                    class="border 
                    border-l 
                    border-gray-400 
                    focus:outline-gray-500 
                    focus:outline-[0.2px] 
                    rounded-md 
                    inputCustome 
                    bg-slate-200 
                    p-2 w-full"> 
                <button class=" bg-blue-400 p-2 rounded-md ms-3" >Buscar</button>
            </div> 
        } 

        <div class="w-8/12 flex gap-3" > 
            @for (filter of Filters; track $index) { 
                <select name="" id="" class="border 
                    border-l 
                    border-gray-400 
                    rounded-md 
                    inputCustome 
                    bg-slate-200 
                    p-2 w-full" >   
                    <!-- accedemos y recorremos la posicion 2 del array que debera ser un array de objetos para renderizar la informacion -->
                    @for (dataFilter of filter[2]; track $index) {  
                        <!-- consultamos los valores del array de objetos con la posicion 0 siendo lo que va renderizar el select --> 
                        <!-- y la posicion 1 siendo lo que va tomar el value del select -->
                        <option [value]="dataFilter[filter[1]]"> 
                            {{dataFilter[filter[0]]}}
                        </option>
                    }
                </select> 
            } 
        </div> 
        
    </div> 
    <table class="tabla" > 
        <thead> 
            <tr> 
                @for (column of ColumnAndRowData; track $index) { 
                    <th>{{ column[0] }}  
                        @if (activeSearchInputColumn) { 
                            <input 
                                type="text" 
                                class="border border-l 
                                border-gray-400 
                                focus:outline-gray-500 
                                focus:outline-[0.2px] 
                                rounded-md w-full"   
                                (keyup)="searchDataOrColumn(column[1], $event)"
                                > 
                        }
                    </th>
                }; 
            </tr>
        </thead> 
        <tbody> 
            @for (data of RenderDataTable; track $index) { 
                <tr>  
                    @for (column of ColumnAndRowData; track $index) { 
                        <td>{{  data[column[1]] }}</td> 
                     }
                </tr>
             }
        </tbody>
    </table>
</div>
